/* .searchbar {
  margin-top: -5%;
  background-color: #003e69;
  margin-left: auto !important;
  padding:0;
  overflow:hidden; 
} 
*/


.centeredSearchBar {
	background-color: #003e69;
	display: flex;
	/* width: 100% !important; */
	/* justify-content: flex-start;
	align-items: flex-start; */
	height: 5vh; 
	border-radius: 5px 5px 0 0;
	  /* width: 100%; */
	  /* padding: 3rem; */
	  text-align: center;
	  display: flex;
	  justify-content: center;
	  align-items: stretch;
	  color: white;
	  flex: 1; /* Grow to fill the rest of the viewport */
  }
  
  .DocSearch-Container .DocSearch-Modal{
	background-color: #003e69;
  }

	/* .DocSearch-SearchBar{
	background-color: red;
	border-radius: 10px;
	} */

form.DocSearch-Form{
/* background-color:green; */
margin:10px;
border-radius: 50px;
border:none;
}

/* #docsearch-input.DocSearch-Input{
background-color: red;
border-radius: 10px;
} */

.DocSearch-Logo {
display:none;
}
  