/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 8rem;
  text-align: center;
  position: relative;
  overflow: hidden;
}



@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 4rem;
  }
}

.buttons {
  color: #F7901E;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchbar {
  background-color: #003e69;
  /* margin-top:5%; */
  margin-left: auto !important;
  padding:0;
  /* margin-right: auto !important; */
  /* width: 100% !important; */
  overflow:hidden;
}

.searchbar_src-pages-index-module {
  background-color: red;
  margin-left:auto;
  margin-right:auto;
  width:40%;
}

.DocSearch.DocSearch-Button[aria-label="Search"] {
  background-color: red;
  margin-left: auto !important;
  margin-right: auto !important;
  width: 100% !important;
}
